/*
 * RNAseq Demo Nextflow configuration
 *
 * Defines pipeline metadata, enabled plugins, default parameters,
 * and execution profiles for local Docker and AWS Batch runs.
 */

manifest {
    name            = 'RNASEQ-DEMO'
    description     = 'RNA-seq pipeline implemented with Nextflow'
    version         = '1.0.0'
    contributors    = [
        [name: 'Paolo Di Tommaso'],
        [name: 'Freddy Mappin']
    ]
    homePage        = 'https://github.com/FrederickMappin/rnaseq-nf'
    mainScript      = 'main.nf'
    nextflowVersion = '>=25.10.4'
}

plugins {
    id 'nf-schema@2.2.0'
    id 'nf-prov@1.2.2'
    id 'nf-amazon'
}

prov {
    enabled = true
    formats {
        bco {
            file = "pipeline_provenance.bco.json"
            overwrite = true
        }
    }
}

report {
    enabled = true
}

params.help          = false
params.outdir        = null
params.input         = null
params.transcriptome = null
params.multiqc       = null

// Execution profiles (local Docker test and AWS Batch test)

profiles {

    local_test {
        docker.enabled    = true
        process.container = 'rnaseq-nf:1.5.1'
        params.input         = "${projectDir}/assets/samplesheet.csv"
        params.transcriptome = "${projectDir}/data/Project_20260220_SEQ001/references/ggal_1_48850000_49020000.Ggal71.500bpflank.fa"
        params.outdir        = "${projectDir}/results"
        params.multiqc       = "${projectDir}/multiqc"
        report.file          = 'report.html'
    }

    batch_test {
        process.executor      = 'awsbatch'
        process.container     = '576847308536.dkr.ecr.us-east-2.amazonaws.com/rnaseq-nf:v1.0'
        process.queue         = 'bio-secure-dev-nextflow-queue'
        aws.region            = 'us-east-2'
        workDir               = 's3://bio-secure-dev-bio-lake-576847308536/nextflow/work'
        params.outdir        = 's3://bio-secure-dev-bio-lake-576847308536/gold/projects/rna_seq/'
        params.input         = 's3://bio-secure-dev-bio-lake-576847308536/bronze/projects/rna_seq/samplesheet.csv'
        params.transcriptome = 's3://bio-secure-dev-bio-lake-576847308536/bronze/references/rna_seq/ggal_1_48850000_49020000.Ggal71.500bpflank.fa'
        params.multiqc       = "${projectDir}/multiqc"
        report.file          = 'report.html'
        report.overwrite     = true
    }
}
