/*
 * Copyright (c) 2013-2023, Seqera Labs.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 *
 */

manifest {
    name            = 'nextflow-io/rnaseq-nf'
    description     = 'RNA-seq pipeline implemented with Nextflow'
    version         = '1.5.3'
    contributors    = [
        [name: 'Paolo Di Tommaso'],
        [name: 'Freddy Mappin']
    ]
    homePage        = 'https://github.com/FrederickMappin/rnaseq-nf'
    mainScript      = 'main.nf'
    nextflowVersion = '>=25.10.4'
}

plugins {
    id 'nf-schema@2.2.0'
    id 'nf-prov@1.2.2'
}

prov {
    enabled = true
    formats {
        bco {
            file = "pipeline_provenance.bco.json"
            overwrite = true
        }
    }
}

report {
    enabled = true
}

params.help          = false
params.outdir        = null
params.input         = null
params.transcriptome = null
params.multiqc       = null

// profiles

profiles {

    local_test {
        docker.enabled    = true
        process.container = 'rnaseq-nf:1.5.1'
        params.input         = "${projectDir}/assets/samplesheet.csv"
        params.transcriptome = "${projectDir}/data/Project_20260220_SEQ001/references/ggal_1_48850000_49020000.Ggal71.500bpflank.fa"
        params.outdir        = "${projectDir}/results"
        params.multiqc       = "${projectDir}/multiqc"
        report.file          = 'report.html'
    }

    batch_test {
        process.executor      = 'awsbatch'
        process.container     = '133605102117.dkr.ecr.us-east-1.amazonaws.com/rnaseq-nf:1.5.2'
        process.queue         = 'bio-secure-dev-nextflow-queue'
        aws.region            = 'us-east-1'
        workDir               = "s3://bio-secure-dev-bio-lake-133605102117/nextflow/work/${workflow.sessionId}"
        params.outdir        = 's3://bio-secure-dev-bio-lake-133605102117/silver/projects/rna_seq/'
        params.input         = 's3://bio-secure-dev-bio-lake-133605102117/silver/samplesheet/samplesheet.csv'
        params.transcriptome = 's3://bio-secure-dev-bio-lake-133605102117/bronze/references/rna_seq/ggal_1_48850000_49020000.Ggal71.500bpflank.fa'
        params.multiqc       = "${projectDir}/multiqc"
        report.file          = 'report.html'
    }
}
